// Desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen_x3){
    body{
        background: darkred;
    }
}

// Desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen_x2){
    body{
        background: darkgoldenrod;
    }
}

// Desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen_x1){
    body{
        background: #0A246A;
    }
}

//Desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s){
    body{
        background: purple;
    }
}

// Mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    body{
        background: #a9dba9;
    }
}

// Fonts
@font-family-name__base: 'Roboto';
@font-family-name__regular: 'Montserrat';
@font-family__base: @font-family-name__base, @font-family__sans-serif;
@font-family__condensed: 'Roboto Condensed', 'Helvetica Condensed', 'Arial Narrow', Arial, sans-serif;
@font-family__regular: 'Montserrat', 'Tahoma', 'Open sans', Arial, sans-serif;
