<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Learning_AdminGrid::view" title="Learning" sortOrder="10000">
                    <resource id="Learning_AdminGrid::grid" title="Grid" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
