<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Learning\ProductTutorial\Api\ProductRepositoryInterface" type="Learning\ProductTutorial\Model\ProductRepository"/>
</config>
