<config  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- START :: 1 Task Preference and DiTest with arguments  -->

    <preference for="Learning\BackendPlugins\Model\Interfaces\Task1\SomeTestInterface" type="Learning\BackendPlugins\Model\Task1\OverrideBackendPlugins"/>
    <preference for="Learning\BackendPlugins\Model\Task1\OverrideBackendPlugins" type="Learning\BackendPlugins\Model\Task1\OverrideOverrideBackendPlugins"/>

    <type name="Learning\BackendPlugins\Model\Task1\ModelA">
        <arguments>
            <argument name="arg1" xsi:type="string">Hello i am test arg1 string type parameter</argument>
            <argument name="arg2" xsi:type="number">5</argument>
            <argument name="arg3" xsi:type="number">15</argument>
        </arguments>
    </type>

    <!-- END :: 1 Task Preference -->

    <!-- START :: 2 Task Plugin -->
        <type name="Learning\BackendPlugins\Controller\Show\Plugin">
            <plugin name="AAAPlugin" type="Learning\BackendPlugins\Model\Plugin\Task2\AAAPlugin" sortOrder="1" disabled="false" />
            <plugin name="Plugin1" type="Learning\BackendPlugins\Model\Plugin\Task2\Plugin1" sortOrder="1" disabled="false" />
            <plugin name="Plugin2" type="Learning\BackendPlugins\Model\Plugin\Task2\Plugin2" sortOrder="2" disabled="false" />
        </type>
    <!-- END :: 2 Task Plugin -->

    <!-- START :: 4 VirtualType -->
    <virtualType name="Virtual" type="Learning\BackendPlugins\Model\Task4\BackendPlugins"/>

    <virtualType name="SomeVirtualType" type="Learning\BackendPlugins\Model\Task4\RepositoryMethods">
        <arguments>
            <argument name="customModel" xsi:type="object">Virtual</argument>
            <argument name="eventManager" xsi:type="object">Magento\Framework\Event\ManagerInterface</argument>
        </arguments>
    </virtualType>

    <type name="Learning\BackendPlugins\Controller\Show\VirtualTest">
        <arguments>
            <argument name="repositoryMethods" xsi:type="object">SomeVirtualType</argument>
        </arguments>
    </type>

    <type name="Learning\BackendPlugins\Model\Interfaces\Task4\BackendPluginsInterface">
        <plugin name="CreateTablePlugin" type="Learning\BackendPlugins\Model\Plugin\Task4\CreateTablePlugin"/>
    </type>
    <!-- END :: 4 VirtualType -->

    <!-- START :: 5 Inheritance -->
    <type name="Learning\BackendPlugins\Model\Task5\ParentModel">
        <arguments>
            <argument name="name" xsi:type="string">Parent Class</argument>
            <argument name="someIntVal" xsi:type="number">123</argument>
        </arguments>
    </type>

    <type name="Learning\BackendPlugins\Model\Task5\ChildModel">
        <arguments>
            <argument name="name" xsi:type="string">Child Class</argument>
            <argument name="someIntVal" xsi:type="number">231</argument>
        </arguments>
    </type>
    <!-- END :: 5 Inheritance -->

    <!-- START :: 6 SharedTutorial -->
    <type name="Learning\BackendPlugins\Model\Task6\SharedTutorialModel" shared="true"/>
    <!-- END :: 6  SharedTutorial -->

    <!-- START :: 7 Plugin to Plugin -->
    <type name="Learning\BackendPlugins\Controller\Show\Plugin">
        <plugin name="TargetPlugin" type="Learning\BackendPlugins\Model\Plugin\Task7\TargetPlugin"/>
    </type>

    <type name="Learning\BackendPlugins\Model\Plugin\Task7\TargetPlugin">
        <plugin name="PluginToPlugin" type="Learning\BackendPlugins\Model\Plugin\Task7\PluginToPlugin"/>
    </type>
    <!-- END:: -->
</config>
