<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Learning\Faq\Api\Data\FaqInterface" type="Learning\Faq\Model\Faq" />
    <preference for="Learning\Faq\Api\Data\FaqSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Learning\Faq\Api\FaqRepositoryInterface" type="Learning\Faq\Model\FaqRepository" />
</config>
